extends layout


block content
    h1= title

    // WRAPPER
    #wrapper
        //div.fa-li.fa.fa-lg.fas.fa-users

        // USER INFO
        div#myModal.modal
            div#userInfo.modal-content
                    span.close &times;
                    strong Name:
                    |  <span id='userInfoName'></span>
                    br
                    strong Age:
                    |  <span id='userInfoAge'></span>
                    br
                    strong Gender:
                    |  <span id='userInfoGender'></span>
                    br
                    strong Location:
                    |  <span id='userInfoLocation'></span>
        // /USER INFO
        // ADD USER
        div
            button.open-button.fa.fa-lg.fas.fa-user-plus(aria-hidden='true')
            div.form-popup
                        form.form-container
                           h2#addUserTitle Add User
                           #addUser
                               fieldset
                                   input#inputUserName(type='text', placeholder='Username')
                                   input#inputUserEmail(type='text', placeholder='Email')
                                   br
                                   input#inputUserFullname(type='text', placeholder='Full Name')
                                   input#inputUserAge(type='text', placeholder='Age')
                                   br
                                   input#inputUserLocation(type='text', placeholder='Location')
                                   input#inputUserGender(type='text', placeholder='gender')
                                   br
                                   div#buttons-container
                                       button(type="submit" class="btn" id="btnAddUser") Add user
                                       button(type="submit" class="btn" id="btnSubmitUser") Submit
                                       button(type="button" class="btn cancel") Close
                // /ADD USER
        // USER LIST
        #userList
            table
                thead
                    th UserName
                    th Email
                    th Delete
                    th Update
                tbody
        // /USER LIST

    // /WRAPPER


