body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*h2 {*/
/*  margin: 80px 0 0 0;*/
/*}*/

a {
  color: #00B7FF;
}

#wrapper {
  /*padding-left:312px;*/
  /*position:relative;*/
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#userList {
  /*margin: 30px 0 0 0;*/
  margin-left: 15px;
}
#userList table {
  border-collapse:separate;
  border-spacing:1px;
  background:#CCC;
}
#userList table th {
  background:#EEE;
  font-weight:600;
  padding:10px 20px;
  text-align:center;
}
#userList table tbody {
  padding:0; margin:0;
  border-collapse:collapse;
  border-spacing: 0;
}
#userList table td {
  background:#FFF;
  padding:5px 10px;
  text-align:center;
}

#userInfo {
  width:250px;
  /*position:absolute;*/
  /*top:0; left:0;*/
}
#userInfo p {
  padding:15px;
  border:1px solid #CCC;
  background:rgba(80,120,255,0.05);
}

fieldset {
  border:0;
  padding:0;
  margin:0;
}
#btnSubmitUser {
  display: none;
}
.fa-minus-square {
  color: red;
}
.fa-edit {
  color: green;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /*position: fixed;*/
  /*bottom: 23px;*/
  /*right: 28px;*/
  /*width: 280px;*/
  width: 100%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  width: 300px;
  /*position: fixed;*/
  /*bottom: 0;*/
  /*right: 15px;*/
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  /*max-width: 300px;*/
  width: 100%;
  /*padding: 10px;*/
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: calc(100% - 12px);
  padding: 15px 0 15px 4px;
  margin: 0 4px 22px 4px;
  border: none;
  background: #f1f1f1;
}

#inputUserName {
  margin-top: 22px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

#buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#btnAddUser {
  text-align: center;
}
#btnSubmitUser {
  text-align: center;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: calc(50% - 8px);
  margin: 0 4px 10px 4px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#addUserTitle {
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}